.acciones {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.acciones button {
  background-color: #7cb482;
  border: none;
  color: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.acciones button:hover {
  background-color: #034317;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .acciones {
    flex-direction: column;
  }
}
